{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":16,"column":4},"end":{"row":17,"column":0},"action":"remove","lines":["",""],"id":2}]]},"ace":{"folds":[],"scrolltop":168.5,"scrollleft":0,"selection":{"start":{"row":16,"column":4},"end":{"row":16,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":7,"state":"start","mode":"ace/mode/ini"}},"timestamp":1496834442879,"hash":"198cd85e540e07f61f87e49f89371fcc8f143a40"}