<div class="row">
    <div class="col-md-4">

        <% map_icon = render "helper/icon" , locals: {:icon => "fa-desktop" } %>
        <%= render "helper/button_link" , locals: {:link => users_url, 
                                            :left => map_icon,
                                            :center => "Karte",
                                            :text => "Karten Ansicht" } %>          
    </div>
    <div class="col-md-4">
  
        <% if current_user.admin? %>

            <% list_icon = render "helper/icon" , locals: {:icon => "fa-list" } %>
            <%= render "helper/button_link" , locals: {:link => users_url, 
                                            :left => list_icon,
                                            :center => "User",
                                            :text => "Übersicht aller User" } %>
    
        <% end %>  
  
  
    </div>
    <div class="col-md-4">
      
                    
        <% mobile_icon = render "helper/icon" , locals: {:icon => "fa-mobile" } %>
        <%= render "helper/button_link" , locals: {:link => root_url, 
                                            :left => mobile_icon,
                                            :center => "Root URL",
                                            :text => "Zurück zum Hauptbildschirm" } %>   
    
    
    </div>
</div>
  
