<!-- Das ist die Miniaturansicht eines Users -->

<% firstname = user.firstname %>
<% lastname = user.lastname %>

<% title = firstname+" "+lastname %>

<% has_picture = user.picture? %>
<% if has_picture %>
    <% image = image_tag(user.picture.url) %>
<% else %>
    <% image = "Default Bild" %>
<% end %>

<!-- xs md lg -->
<div class="col-md-4">
    Debug: UserID: <%= user.id %>
    <div class="tab">
        <%= image %>    
    </div>
    <div class="tabcontent">
        <%= render "helper/panel" , locals: {:title => title, :body => "Mehr infos" } %>
    </div>
</div>