<% provide(:title, 'All Departments') %>
<h4>All Departments</h4>
    
<%= will_paginate %>    <!-- Zeigt nur reduzierte Anzahl an -->

<div class="row">
    <%= render @departments %>    <!-- Rendert alle _user.html.erb -->
</div>
    
<%= will_paginate %>