<!-- Das ist die Miniaturansicht eines Berufs -->

    <div class="col-md-4">
        <%= render "helper/button_link" , locals: {:link => profession,
                                            :center => profession.name } %>
    </div>