<% provide(:title, 'All Operations') %>
<h4>All Operations</h4>
    
<%= will_paginate %>    <!-- Zeigt nur reduzierte Anzahl an -->

<div class="row">
    <%= render @operations %>    <!-- Rendert alle _user.html.erb -->
</div>
    
<%= will_paginate %>