<!-- Diese Datei wurde aufgerufen durch die definierte Methode 'map' in
    'OperationController', dort definierte Variablen, können nun verwendet
    werden -->

<h1>Map</h1>

Diese Seite sollte zunächst erweitert werden, sodass ein SSE (Server Sent Event) eingebunden wurde.
Dadurch sollen neue Daten an diese Seite gesendet werden, sofern es was neues gibt.

<%= render "helper/button_back" , locals: {:link => @operation } %>
